.App{
    margin: 0 auto;
    font-size: 15px;
    width: 200px;
}
.label{
  display: inline-block;
  margin: 5px 0;
}
input{
  display: block;
  height: 25px;
  line-height: 25px;
  min-width: 200px;
}
button{
  background-color: #000;
  color: #fff;
  padding: 5px;
  min-width: 60px;
  margin-top: 20px;
}
button+button{
  float: right;
}
.clear{
  position: absolute;
  right: 0px;
  top:5px;
  cursor: pointer;
}
.item_wrapper{
  position: relative;
}